<mat-tab-group>
    <mat-tab label="Posts">
        <div class='posts-container'>
            <div style='display: flex; justify-content:space-evenly; margin-top: 30px'>
                <button (click)="reloadPosts()">Reload</button>
                <p>Likes: {{likes}}</p>
                <p>Comments: {{numberOfComments}}</p>

            </div>
            <div *ngFor='let post of posts'>
                <app-post (newItemEvent)="addNewComment($event)" (likeCommentEvent)="likePost($event)" [post] = post></app-post>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Comments"> 
        <div class='comments-container'>
            <mat-card style='margin-top: 20px' *ngFor='let comments of comments'>
                {{comments.text}}
            </mat-card>            
        </div>
    </mat-tab>
</mat-tab-group>