<mat-card class='posts-container__card'>
    <div style="display: flex; justify-content: space-between;">
        <p>{{postData.title}}</p>
        <div style="display: flex; justify-content: space-evenly;">
            <p>{{postData.likes}}</p>
            <button (click)="likePost()">Like</button>
        </div>
    </div>
    <p>{{postData.description}}</p>
    <mat-form-field class="example-full-width">
        <textarea (keydown) = 'addNewComment($event, postData)' matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
    <div class='post-container__card__comments-container'>
        <mat-card style='margin-top: 20px' *ngFor='let comments of postData.comments'>
            {{comments.text}}
        </mat-card>
    </div>
</mat-card>